<a href="https://colab.research.google.com/github/wrixd/iris_data_set_analysis/blob/main/iris_data_set_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [69]:
import pandas as pd
import numpy as np

url ='Iris.csv'
df = pd.read_csv(url)

In [70]:
df = pd.read_csv('Iris.csv')

In [71]:
df

      Id  SepalLengthCm  ...  PetalWidthCm         Species
0      1            5.1  ...           0.2     Iris-setosa
1      2            4.9  ...           0.2     Iris-setosa
2      3            4.7  ...           0.2     Iris-setosa
3      4            4.6  ...           0.2     Iris-setosa
4      5            5.0  ...           0.2     Iris-setosa
..   ...            ...  ...           ...             ...
145  146            6.7  ...           2.3  Iris-virginica
146  147            6.3  ...           1.9  Iris-virginica
147  148            6.5  ...           2.0  Iris-virginica
148  149            6.2  ...           2.3  Iris-virginica
149  150            5.9  ...           1.8  Iris-virginica

[150 rows x 6 columns]

In [72]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [73]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [74]:
df.shape

(150, 6)

In [75]:
df.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [76]:
df.isnull()

        Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0    False          False         False          False         False    False
1    False          False         False          False         False    False
2    False          False         False          False         False    False
3    False          False         False          False         False    False
4    False          False         False          False         False    False
..     ...            ...           ...            ...           ...      ...
145  False          False         False          False         False    False
146  False          False         False          False         False    False
147  False          False         False          False         False    False
148  False          False         False          False         False    False
149  False          False         False          False         False    False

[150 rows x 6 columns]

In [77]:
df.isnull().sum()
#no missing cell

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [78]:
 df.iloc[: ,1:]

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0              5.1           3.5            1.4           0.2     Iris-setosa
1              4.9           3.0            1.4           0.2     Iris-setosa
2              4.7           3.2            1.3           0.2     Iris-setosa
3              4.6           3.1            1.5           0.2     Iris-setosa
4              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
145            6.7           3.0            5.2           2.3  Iris-virginica
146            6.3           2.5            5.0           1.9  Iris-virginica
147            6.5           3.0            5.2           2.0  Iris-virginica
148            6.2           3.4            5.4           2.3  Iris-virginica
149            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [79]:
np.min(df.iloc[:,:]),

(Id                         1
 SepalLengthCm            4.3
 SepalWidthCm               2
 PetalLengthCm              1
 PetalWidthCm             0.1
 Species          Iris-setosa
 dtype: object,)

In [80]:
np.max(df.iloc[:,:]),

(Id                          150
 SepalLengthCm               7.9
 SepalWidthCm                4.4
 PetalLengthCm               6.9
 PetalWidthCm                2.5
 Species          Iris-virginica
 dtype: object,)

In [81]:
np.mean(df.iloc[:,:])

Id               75.500000
SepalLengthCm     5.843333
SepalWidthCm      3.054000
PetalLengthCm     3.758667
PetalWidthCm      1.198667
dtype: float64

In [82]:
df.groupby('Species').mean()

                    Id  SepalLengthCm  ...  PetalLengthCm  PetalWidthCm
Species                                ...
Iris-setosa       25.5          5.006  ...          1.464         0.244
Iris-versicolor   75.5          5.936  ...          4.260         1.326
Iris-virginica   125.5          6.588  ...          5.552         2.026

[3 rows x 5 columns]

In [83]:
df.groupby('Species').max()

                  Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Species
Iris-setosa       50            5.8           4.4            1.9           0.6
Iris-versicolor  100            7.0           3.4            5.1           1.8
Iris-virginica   150            7.9           3.8            6.9           2.5

In [84]:
df.groupby('Species').min()

                  Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Species
Iris-setosa        1            4.3           2.3            1.0           0.1
Iris-versicolor   51            4.9           2.0            3.0           1.0
Iris-virginica   101            4.9           2.2            4.5           1.4

In [85]:
df.groupby('Species')['SepalLengthCm'].nlargest(3)

Species
Iris-setosa      14     5.8
                 15     5.7
                 18     5.7
Iris-versicolor  50     7.0
                 52     6.9
                 76     6.8
Iris-virginica   131    7.9
                 117    7.7
                 118    7.7
Name: SepalLengthCm, dtype: float64

In [86]:
df.groupby('Species')['SepalWidthCm'].nlargest(3)

Species
Iris-setosa      15     4.4
                 33     4.2
                 32     4.1
Iris-versicolor  85     3.4
                 56     3.3
                 50     3.2
Iris-virginica   117    3.8
                 131    3.8
                 109    3.6
Name: SepalWidthCm, dtype: float64

In [87]:
df.groupby('Species')['PetalLengthCm'].nlargest(3)

Species
Iris-setosa      24     1.9
                 44     1.9
                 5      1.7
Iris-versicolor  83     5.1
                 77     5.0
                 52     4.9
Iris-virginica   118    6.9
                 117    6.7
                 122    6.7
Name: PetalLengthCm, dtype: float64

In [88]:
df.groupby('Species')['PetalWidthCm'].nlargest(3)

Species
Iris-setosa      43     0.6
                 23     0.5
                 5      0.4
Iris-versicolor  70     1.8
                 77     1.7
                 56     1.6
Iris-virginica   100    2.5
                 109    2.5
                 144    2.5
Name: PetalWidthCm, dtype: float64